{%extends "myshk/base.html"%}
{%block content%}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="broder-bottom mb-4">Join Today</legend>
                {{form.as_p}}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline" type="submit">Sign Up</button>
            </div>
        </form>
        <div class="border-top pt3">
            <small class="text-muted">
                Account Exists ? <a class="ml-2" href="{%url 'register'%}"> Log in !</a>
            </small>
        </div>
    </div>
{% endblock content %}
